.header-section{
    background-color: $color-dark-alpha;
    border-bottom: 1px solid $color-white;
    display: flex;
    width: 100%;
    height: 8.8rem;
    position: fixed;
    //top: 0;
    z-index: 999;
    padding-right: 15px;
    padding-left: 55px;
    .logo{
        position: relative;
        left: 0;
        img{
            margin-top: 1.5rem;
        }
    }
    .menu{
        position: absolute;
        right: 0;
        width: 78%;
    }
}